/* Font import from google */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general style */
body {
    font-family: Raleway, sans-serif;
    display: flex;
    min-height: 100vh;
    color: black;
    flex-direction: column;
}

/* text center class */
.text-center {
    text-align: center;
}

/* header */
header {
    background-color: #052ab0ff;
    display: flex;
    align-items: baseline;
    padding: 0 1rem;
    position: fixed;
    justify-content: space-between;
    z-index: 99;
    width: 100%;
    color: #ffffff;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    color: #c0c0c0ff;
}

h1 {
    font-family: montserrat, sans-serif;
    text-transform: uppercase;
}

#menu {
    list-style-type: none;
    font-size: 20px;
    letter-spacing: 2px;
}

#menu li {
    margin-bottom: 1em;
}

#menu a:hover {
    color: #d5002eff;
}

.active-link {
    border-bottom: 1px solid #ffffff;
}

/* dropdown menu with toggle - credit to love running walkthrough project*/
nav {
    position: absolute;
    background-color: #052ab0ff;
    width: 100%;
    left: 0;
    box-shadow: 0 2px 1px #c0c0c0ff;
    display: none;
    top: 100%;
    padding-left: 1rem;
}

/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* hand pointer cursor when hovering over hamburger icon */
.nav-toggle-label:hover {
    cursor: pointer;
}

/* main */
main {
    background-color: #ffffff;
    flex: 1 0 auto;
    margin-top: 124px;
}

/* text links */
main a {
    text-decoration: none;
}

main .click-hover {
    color: #d5002eff;
}

main .click-hover:hover {
    color: #052ab0ff;
}

/* hero image */
#img-container {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

#hero-img {
    width: 320px;
    height: 213px;
}

.position-top {
    padding-top: 0%
}

.position-bottom {
    padding-bottom: 20px;
}

/* footer */
footer {
    background-color: #052ab0ff;
    color: white;
    margin-top: auto;
}

#social-networks {
    display: flex;
    text-align: center;
    list-style-type: none;
    justify-content: space-evenly;
    right: 0px;
    font-size: 30px;
}

#social-networks li {
    padding: 1% 5%;
}

#social-networks li a {
    color: white;
}

#social-networks li a:hover {
    color: #c0c0c0ff;
}

/* maintenance page specific style */
.maintenance {
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.maintenance-list {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: justify;
}

.content-padding {
    padding: 1rem 0;
}

.maintenance h2,
h3 {
    padding-bottom: 0.5rem;
}

.list-padding {
    padding-bottom: 0.5rem;
}

/* contact page specific style */
form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;

}

fieldset {
    border: none;
    padding: 1rem 0;
    border-bottom: 3px solid #052ab0ff;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input,
textarea,
select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #d5002eff;
    border-color: white;
    min-width: 300px;
}

.button:hover {
    color: #c0c0c0ff;
    cursor: pointer;
}

/* thank you page */
.thank-you-container {
    padding: 30px;
    text-decoration: none;
}

.thank-you-container a {
    color: #052ab0ff;
}

.thank-you-container a:hover {
    color: #d5002eff;
    cursor: pointer;
}

.thank-you-padding {
    padding: 20px;
}

/* media query for tablets */
@media screen and (min-width: 768px) {

    /* header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /* main content */
    main {
        /* push main content down for larger header */
        margin-top: 84px;
    }
}

/* media query for larger laptops */
@media screen and (min-width: 1024px) {
    header {
        padding: 0.5rem 1rem;
    }

    #menu li {
        margin-bottom: 0.5rem;
    }

    main {
        margin-top: 70px;
    }

    #hero-img {
        width: 1024px;
        height: 683px;
    }

    /* maintenance page style */
    .maintenance {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .maintenance-list {
        width: 60%;
    }
}